
body {
	font-family: 'Montserrat';
	text-align: center;
}

h1 , h2 , h3 , h4 , h5 , h6 {
	font-family: 'Montserrat';
	font-weight: bold;
}

h2 {
	font-size: 3rem;
	line-height: 1.5;
}

h3 {
	font-size: 1.5rem;
}

p {
	color: #8f8f8f;
}

/* Headings */

.big-heading-1, .big-heading{
	text-align: left;
	font-size: 3.5rem;
	line-height: 1.5;
	font-weight: 900;
}

.big-heading {
	text-align: center;
}

/* Title */

#title {
	background-color: #ff4c68;
	color: white;
}

.container-fluid {
	padding: 3% 10% 7%;
}

/* Navigation Bar */

.navbar {
	padding: 0 0 4.5rem;
}

.navbar-brand {
	font-family: 'Ubuntu';
	font-size: 2.2rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 300;
}

/* Download Buttons */

.download-btn {
	margin: 5% 3% 5% 0;
}

/* Title Image */
.iphone-img {
	width:  20%;
	transform: rotate(10deg);
	border-radius: 40px 40px 0 0;
	position: absolute;
	right: 20%;
}

/* Features Section */

#features {
	padding: 7% 12%;
	position: relative;
	background-color: white;
}

.feature-box {
	padding: 5%;
}

.icon {
	color: #ef8172;
	margin-bottom: 1rem;
}

.icon:hover {
	color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
	background-color: #ef8172;
	color: white;
}

.carousel-item {
	padding: 7% 12%;
}

.testimonial-image {
	width: 8%;
	border-radius: 50%;
	margin: 20px;
}

/* Press Section */

#press {
	background-color: #ef8172;
	padding-bottom: 3%;
}

.press-logo {
	width: 15%;
	margin: 0 20px 0;
}

/* Pricing Section */

#pricing {
	padding: 8%;
}

.pricing-col {
	padding: 3% 2%;
}

/* CTA Section */

#CTA {
	background-color: #ff4c68;
	padding: 7% 12%;
	color: white;
}

/* Footer Section */
#footer {
	padding: 7% 12%;
}

.social-icon {
	margin: 20px 10px;
}

/* Media Queries */

@media (max-width:  575px) {
	.big-heading-1 {
		font-size: 2.5rem;
	}
}

@media (max-width: 992px) {

	.container-fluid {
		text-align: center;
	}

	.big-heading-1 {
		text-align: center;
	}

	.iphone-img {
		width: 12rem;
		transform: rotate(0);
		position: static;
	}
}
